.MainBox {
  position: absolute;
  top: 25%;
  left: 31%;
}

.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
}
/* width: 380.6px */
.img {
  width: 300px;
  height: 600px;
  object-fit: contain;
  padding: 10px;
  border: 1px solid #444444;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.item {
  display: flex;
  padding-bottom: 10px;
  padding-left: 10px;
}
